{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="">Farmers</h3>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <a href="#" class="btn btn-outline-primary">
      <i class="fas fa-plus-circle"></i>
      Add Farmer
    </a>
    <a href="#" class="btn btn-outline-success float-right">
      <i class="fas fa-print"></i>
      Export
    </a>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Full name</th>
        <th>Email address</th>
        <th>Phone Number</th>
        <th>Company Name</th>
        <th>Country</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Medson Naftali</td>
          <td>medsonnaftal@gmail.com</td>
          <td>0767176929</td>
          <td>Technology Homesite</td>
          <td>Tanzania</td>
          <td class="text-center">
            <a href="#" style="margin-right: 20px;"><i class="fas fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash-alt" style="color: red;"></i></a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Zenda Innocents</td>
          <td>medsonnaftal@gmail.com</td>
          <td>0767176929</td>
          <td>Technology Homesite</td>
          <td>Tanzania</td>
          <td class="text-center">
            <a href="#" style="margin-right: 20px;"><i class="fas fa-edit"></i></a>
            <a href="#"><i class="fas fa-trash-alt" style="color: red;"></i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>#</th>
        <th>Full name</th>
        <th>Email address</th>
        <th>Phone Number</th>
        <th>Company Name</th>
        <th>Country</th>
        <th>action</th>
      </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>

{% endblock %}