{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container col-md-6 offset-md-3 pt-5 pb-5">
    <h2>Register as Farmer</h2>
    <form method="post" class="pt-4" autocomplete="off" novalidate>
      {% csrf_token %}
      {{ form | crispy }}
      <p>By continuing, you agree to Farmer' <a href="https://drive.google.com/file/d/1iSDaYYMS1ajTVFBzX006_Co1VRo7czie/view?usp=sharing" target="_blank">Terms and conditions</a> , <a href="https://drive.google.com/file/d/1NFCVVV5XVlYljuJNmyxXGOeiZzoZjetH/view?usp=sharing" target="_blank">Privacy policy</a></p>
      <button type="submit" name="submit" class="btn btn-success mt-3 btn-lg">Register</button>
    </form>
    <div class="pt-3">
      <p>Already on Fagrimacs? <a href="{% url 'accounts:login' %}">Login</a></p>
    </div>
  </div>
{% endblock %}
